*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Abel', sans-serif;
    font-family: 'Cardo', serif;
    background: black;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*  Estilos para el menú   */

.menu{
    background-color: black;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    border: white;
}

.menu img{
    background-color: black;
}

#img-center{
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.menu::after,.menu::before{
    content:"";
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu_items{
    position:absolute;
    display: flex;
    list-style: none;
    padding-top: 70px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
}

.menu_items li a:hover{
    font-size: 23px;
    transition: .4s;
}

.btn_menu{
    margin-left: 70%;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    display: none;
}

ul.show{
    top: 65px;
}

@media screen and (max-width: 952px) {
    .menu_items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu{
        height: 65px;
    }
    .btn_menu{
        display:inline-flex;
    }
    .menu_items_a{
        padding-top: 20px;
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        z-index: 1;
    }
    .menu_items{
        margin: 0;
        line-height: 30px;
    }
    .menu_items li{
        font-size: 20px;
        color: white;
        font-weight: bold;
    } 
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 0;
    }

    .menu_items{
        height: calc(50% - 65px);
    }
}


/*  Estilos para carrusel  */

.container-slider{
    margin-top: 10px;
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 700%;
    height: 400%;
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7) ;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: white;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px;
}

/* Titulos */

h2{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 35px;
}

h2::after, h2::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: white;
    top: 0.6em;
}

h2::before{
    left: 150px;
    padding-right: 5px;
}

h2::after{
    right: 150px;
}
/* Estilos para galeria */

.gallery-container {
    display: block; 
    grid-template-columns: repeat(3);
    grid-auto-rows: 150px;
    margin: auto;
    padding-top: 20px;
}

.imagen{
    width: 100%;
    
}

.imagen img{
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
}


/*boton*/

.boton{
    padding-top: 3rem;
}

.boton a{
    text-decoration: none;
    color: white;
    background-color: #575757;
    font-size: 28px;
    border-radius: 20px;
    padding: 5px 20px;
    border-color: white;
}

.boton a:hover{
    background: white;
    color: #575757;
    padding: 10px 25px;
    transition: .6s;
}

/* img center*/

.img_center{
    width: 100%;
    margin: 0 auto;
}

.img_c{
    max-width: 100%;
}

/*caja bordes*/

.border{
    border-style: none none solid none;
    border-color: white;
    border-width: 0px 0px .01px 0px;
}

/*Textos*/
.preguntas{
    width: 100%;
    margin: 0 auto;
}

.titulo{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top:1%;
    padding-bottom:1%;
}

.parrafo{
    margin: 0 auto;
    color: white;
    font-size: 25px;
    max-width: 25%;
    text-align: center;

}

@media screen and (max-width: 952px) {
    .parrafo{
        max-width: 75%;
    }
}

@media screen and (max-width: 1250px) {
    .parrafo{
        max-width: 50%;
    }
}

/*footer*/
footer{
    background: linear-gradient(to bottom, black 75px, black 15px);
}

footer .redes-sociales{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2%;
    flex-wrap: wrap;
    border-style: solid none solid none;
    border-color: white;
    border-width: .01px 0px .01px 0px;
}

footer .redes-sociales a{
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
    
}


footer .redes-sociales .facebook{
    background: #405c9c;
}

footer .redes-sociales .instagram{
    background: #c13584;
}

footer .redes-sociales .whatsapp{
    background: #0df053;
    transition: all 400ms ease-out;
}

footer .redes-sociales .whatsapp:hover{
    background-color: #f3f3f3;
    transform: scale(1.1);
    color: #0df053;
}

footer .redes-sociales .instagram:hover{
    background-color: #f3f3f3;
    transform: scale(1.1);
    color: #c13584;
}

footer .redes-sociales .facebook:hover{
    background-color: #f3f3f3;
    transform: scale(1.1);
    color: #405c9c;
}

footer .redes-sociales a i{
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a{
    animation: icono .5s ease;
}

@keyframes icono {
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{
        transform: rotate3d(1,1,1,360deg);
    }
}

footer .creado-por{
    text-align: center;
    font-size: 24px;
    color: #fff;
}

/*responsive*/

@media screen and (max-width: 700px){
    .grid .item{
        width: calc(50% - 20px);
    }

    header .barra-busqueda{
        width:100%;
    }
}
